:root {
  --tamna-pozadina: #212429;
  --glavna-pozadina: #f9f9fb;
  --sivi-tekst: #999999;
  --shadow: 3px 3px 2px #f5f5f7;
}

/* Generalna stilizacija */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--glavna-pozadina);
}

img {
  width: 100%;
}

i[class*="fa"] {
  font-size: 2rem;
  cursor: pointer;
}

button,
input[type="button"] {
  border: none;
  cursor: pointer;
  transition: all 0.5s linear;
}

/* Header i navigacija */

header {
  background-color: var(--tamna-pozadina);
}

nav {
  width: 94%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ikone {
  display: flex;
}

nav i {
  border-right: 1px solid #3b3b3c;
  padding: 2rem;
  transition: color 0.5s linear;
}

nav i:hover {
  color: var(--sivi-tekst);
}

.menu-toggle {
  width: 5.75rem;
}

nav i:first-child {
  border-left: 1px solid #3b3b3c;
}

nav > a {
  margin-left: 10%;
}

/* Glavna navigacija (skrivena i otkrivena na klik) */

.main-nav {
  position: fixed;
  list-style: none;
  width: 100%;
  background-color: var(--tamna-pozadina);
  top: -100%;
  padding-bottom: 1rem;
}

.main-nav.active {
  top: 6rem;
}

.main-nav li {
  margin-top: 1rem;
  margin-left: 1rem;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s ease;
}

.main-nav a:hover {
  border-bottom: 1px solid #f5f5f7;
}

/* Hero sekcija */

.hero {
  background: linear-gradient(
    to bottom,
    var(--tamna-pozadina) 50%,
    var(--glavna-pozadina) 50%
  );
}

.hero__content {
  width: 94%;
  margin: 0 auto;
  min-height: 70vh;
  background: url("./slike/naslovna.jpg") no-repeat center center/cover fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
  letter-spacing: 5px;
}

.hero--title {
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 1.5;
}

.hero--subtitle {
  order: -1;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.8rem;
}

.hero--button {
  margin-top: 8rem;
  width: 18rem;
  height: 6rem;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.hero--button:hover {
  color: #fff;
  background-color: var(--tamna-pozadina);
}

/* Main sekcija */

main {
  padding-bottom: 14.5rem;
}

/* Search sekcija */

.search {
  width: 94%;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 2.7rem 0;
  display: flex;
}

.search p {
  flex-basis: 20%;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 6rem;
  letter-spacing: 3px;
}

.search form {
  flex-basis: 80%;
  display: flex;
}

.search form::before {
  content: "\f002";
  font: var(--fa-font-solid);
  font-size: 1.6rem;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  background-color: var(--tamna-pozadina);
  color: #fff;
  text-align: center;
}

.input__polje {
  flex-basis: 80%;
  padding-left: 2rem;
  border: none;
  box-shadow: var(--shadow);
}

.input__button {
  flex-basis: 20%;
  background-color: var(--tamna-pozadina);
  color: #fff;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.6rem;
}

.input__button:hover {
  color: var(--tamna-pozadina);
  background-color: #f7f7f7;
}

input::placeholder {
  color: #bbb;
}

/* Kartica sekcija */

.index-main {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 5rem;
  background-color: var(--glavna-pozadina);
}

.kartica {
  display: grid;
  grid-template-rows: 1fr auto;
  border: 1px solid rgba(153, 153, 153, 0.1);
  background-color: #fff;
}

.kartica-info {
  text-align: center;
}

.kartica-info img {
  margin-bottom: 7rem;
}

.kartica-info h1,
.kartica-info h2 {
  margin: 2.4rem 0;
  font-size: 2.5rem;
}

.kartica-info p {
  font-size: 1.6rem;
  color: var(--sivi-tekst);
}

.kartica-info i {
  color: #464646;
}

.kartica-info-about {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.kartica-info button {
  margin: 5rem 0;
  padding: 2rem 2.3rem;
  font-size: 2.2rem;
  background: transparent;
  letter-spacing: 3px;
  border-left: 1px solid rgba(153, 153, 153, 0.2);
  border-right: 1px solid rgba(153, 153, 153, 0.2);
}

.kartica-info button:hover {
  background-color: var(--sivi-tekst);
}

.kartica-social {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  border-top: 1px solid rgba(153, 153, 153, 0.1);
  box-shadow: var(--shadow);
}

.kartica-social p {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

.kartica-no-image {
  margin-top: 7rem;
}

.kartica-no-image-opis {
  color: #000 !important;
  letter-spacing: 4px;
  padding: 0 2rem;
  line-height: 2;
  margin-top: 3.5rem;
}

.tamna-kartica {
  background-color: var(--tamna-pozadina);
}

.tamna-kartica .kartica-no-image {
  color: #fff;
  letter-spacing: 4px;
  padding: 0 2rem;
  line-height: 2;
}

.tamna-kartica h2 {
  color: var(--sivi-tekst);
}

/* About sekcija */

.about-main {
  display: flex;
  width: 94%;
  margin: 12rem auto 0;
  gap: 3rem;
}

.about-article {
  background-color: #fff;
  flex-basis: 70%;
  border: 1px solid rgba(153, 153, 153, 0.1);
}

.about-article .kartica-info {
  margin: 8rem 0 4rem;
}

.about-article > p {
  font-size: 1.4rem;
  color: #464646;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 4rem 7rem;
  text-align: justify;
}

.about-article blockquote {
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 4.5rem 10%;
  text-align: center;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
}

/* Aside sekcija */

aside {
  flex-basis: 30%;
  background-color: #fff;
  padding: 4.5rem 2.5rem 3rem;
  border: 1px solid rgba(153, 153, 153, 0.1);
}

.about-form {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 5.5rem;
}

.about-form input[type="text"] {
  border: none;
  background-color: var(--glavna-pozadina);
  padding-left: 2rem;
}

.about-form input[type="submit"] {
  font-family: "Font Awesome 6 Free", sans-serif;
  cursor: pointer;
  font-weight: 900;
  background-color: var(--tamna-pozadina);
  color: #fff;
  padding: 2rem;
  font-size: 2rem;
  border: none;
}

aside h2 {
  font-size: 1.7rem;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(153, 153, 153, 0.1);
  margin-bottom: 3rem;
}

.category-nav-links {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  line-height: 3.2;
  border-bottom: 1px solid rgba(153, 153, 153, 0.1);
}

.category-nav-links a,
.category-nav-links span {
  text-decoration: none;
  color: var(--tamna-pozadina);
  font-weight: bold;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s linear;
}

.category-nav-links a:hover {
  border-bottom: 1px solid var(--tamna-pozadina);
}

.latest-posts h2 {
  margin-top: 4.5rem;
}

.posts {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.1);
}

.posts:last-child {
  border-bottom: none;
}

.posts h3 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.text-container {
  display: grid;
  grid-template-rows: 1fr auto;
}

.text-container-desc {
  color: var(--sivi-tekst);
  font-size: 1.6rem;
}

time {
  margin-right: 3rem;
}

/* Footer sekcija */

footer {
  background-color: var(--tamna-pozadina);
}

.footer-container {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  padding-top: 7rem;
  gap: 3rem;
  color: #fff;
}

footer h2 {
  margin-bottom: 4.5rem;
}

footer p {
  font-size: 1.5rem;
  line-height: 2;
}

.footer-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}

footer hr {
  margin: 1.5rem 0;
  border: 1px solid #616366;
}

.copyright {
  text-align: center;
  background-color: #17191c;
  color: #616366;
  padding: 1.5rem 0;
}
